body {
    min-height: 100vh;
    background-color: var(--hintergrund-color);
}

.logos {
    font-weight: 700;
    font-size: 45px;
    color: var(--schrift-color);
    text-decoration: none;
}

.thank-you-block {
    padding: 53px 20px 100px 20px;
}

.gluckwunsch-block {
    gap: 129px;
    align-items: center;
}

.thank-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 55px;
}

.thank-info {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.thank-info2 {
    font-weight: 700;
    margin-top: 30px;
    font-size: 22px;
    line-height: 27px;
}

.thank-btn {
    width: 100%;
    text-decoration: none;
    max-width: 393px;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 47px;
    padding: 18px 0;
    background: var(--button-color);
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.thank-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.gluckwunsch-block-img img {
    width: 100%;
    max-width: 596px;
    aspect-ratio: 598 / 596;
    height: 100%;
    object-fit: cover;
}

.photographer-adver-block {
    background-color: var(--second-hintergrund-color);
    padding: 68px 20px;
}

.photographer-adver-items {
    gap: 118px;
}

.photographer-adver-block h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 42px;
}

/* Dein kreativer Fotograf! */
.photographers-positions1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 30px;
}


.photographers-positions {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.photographer-promision {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-top: 47px;
}

.links-block {
    gap: 43px;
    margin: 37px 0;
}

.thank-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    border: 1px solid #000;
    background-color: transparent;
    width: 100%;
    padding: 6px 20px;
    transition: all 0.25s ease;
    color: #000;
    text-decoration: none;
    width: 100%;
    max-width: 187px;
    text-align: center;
}

.thank-link:hover {
    background-color: #000;
    color: #fff;
}

.messangers-icons {
    gap: 29px;
}

.photographer-adver-img {
    width: 100%;
    max-width: 550px;
    aspect-ratio: 550 / 529;
    object-fit: cover;
    flex-shrink: 0;
}

.section-13 {
    background-color: #F5EDE0 !important;
}

@media (max-width:1199px) {
    .photographer-adver-items {
        flex-wrap: wrap;
        gap: 40px;
    }

    .links-block {
        gap: 30px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .photographer-adver-img {
        max-width: 380px;
        aspect-ratio: 380 / 400;
        object-fit: cover;
        flex-shrink: 0;
    }
}

@media (max-width:991px) {
    .thank-you-block {
        text-align: center;
    }

    .gluckwunsch-block {
        flex-direction: column;
        gap: 22px;
        align-items: center;
    }

    .gluckwunsch-block-text {
        align-items: center;
    }

    .gluckwunsch-block-img img {
        max-width: 380px;
        aspect-ratio: 380 / 400;
        height: 100%;
        object-fit: cover;
    }

    .links-block {
        margin-top: 20px;
    }

    .thank-title {
        font-size: 40px;
        margin-bottom: 22px;
    }

    .thank-info1 {
        font-size: 20px;
    }


    .thank-info2 {
        font-size: 20px;
    }

    .thank-info3 {
        font-size: 20px;
        margin-top: 0px;
    }

    .thank-you-button {
        font-size: 20px;
        margin-top: 22px;
    }

    .thank-info4 {
        font-size: 20px;
        margin-top: 28px;
    }

    .thank-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        max-height: 389px;
        object-fit: cover;
    }

    .thank-link {
        max-width: 200px;
        text-align: center;
    }

    .photographer-adver-block h3 {
        font-size: 28px;
    }

    .photographers-positions {
        font-size: 22px;
    }

    .adver1 {
        font-weight: 500;
        font-size: 20px;
    }

    .adver2 {
        font-size: 20px;
    }

    .photographer-promision {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (max-width:768px) {
    .thank-btn {
        max-width: 300px;
        margin-top: 30px;
        margin-bottom: 28px;
        font-size: 18px;
    }

}

@media (max-width:510px) {
    .thank-you-block {
        padding: 50px 20px 50px 20px;
    }

    .thank-title {
        font-size: 28px;
        margin-bottom: 22px;
        line-height: 42px;
    }

    .thank-info {
        font-size: 18px;
    }

    .thank-link {
        font-size: 18px;
        padding: 4px 10px;
        max-width: 162px;
    }

    .photographer-adver-block h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .photographers-positions {
        font-size: 18px;
    }

    .photographer-adver-img {
        max-width: 400px;
        aspect-ratio: 400 / 429;
    }

    .icon img {
        width: 38px;
        height: 38px;
    }
}