body {
    font-family: "Inter", sans-serif;
    background-color: var(--hintergrund-color);
}

.section-1 {
    position: relative;
    background-image: url("/images/kid-easter-photo4.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 0 62px 47px;
}

.section-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section-1 .container {
    position: relative;
    z-index: 2;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    color: #F5EDE0;
    text-decoration: none;

}

.section1-text-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.section1-text-info:nth-of-type(1) {
    margin-top: 90px;
    margin-bottom: 32px;
}

.section1-text-info:last-of-type {
    margin-top: 47px;
}

.section1-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 29px;
}

.section1-title-bold {
    color: var(--button-color);
    text-decoration: underline;
}

.section1-show {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 61px;
    width: 100%;
    max-width: 400px;
}

.section-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;

    width: 100%;
    max-width: 398px;
    padding: clamp(12px, 3vw, 22px) clamp(16px, 4vw, 24px);
    border-radius: 40px;

    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;

    text-decoration: none;
}

.section-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.section-2 {
    padding: 96px 0;
}

.section2-block {
    align-items: center;
}

.sec2-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #000000;
    margin-bottom: 89px;
}

.sec2-contents {
    display: flex;
    align-items: center;
    gap: 56px;
}

.sec2-part-texts {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.sec2-text h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 20px;
}

.sec2-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.sec2-img {
    width: 100%;
    max-width: 565px;
    height: auto;
    max-height: 553px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.sec2-img:hover {
    transform: rotate(0deg) scale(1.03);
}