:root {
    --hintergrund-color: #F5EDE0;
    --button-color: #E2C08D;
    --button-hover-color: #d3b383;
    --schrift-color: #3D3D3D;
    --second-hintergrund-color: #EEE3D0;
    --font-main: "Inter", sans-serif;
    /* --spacing-sides-section: 101px; */
    /* с bootstrap не используется, ибо bootstrap сам управляет крайними отступами с помощью container */
    --brand-primary: #E2C08D;
    --brand-secondary: #EEE3D0;
    --brand-dark: #3D3D3D;
    --brand-light: #F5EDE0;
    --brand-white: #FFFFFF;
    --brand-gray: #7F7F7F;
    --brand-light-gray: #F8F8F8;
    --brand-border: #3D3D3D;
}